/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
fieldset,img,abbr,acronym{border:0;}
input,button{border: 0;font-family:'Microsoft Yahei', '微软雅黑';}
input:focus,button:focus{outline:none;}
/* basic */
.el-message{margin-top: 280px;}
.mui-content{background: none;}
.mui-table-view{background: transparent;}
.mui-table-view:after{height: 0;}
.mui-table-view:before{height: 0;}
html,body{height: 100%;background-color: #fff;font-family:'Microsoft Yahei', '微软雅黑';color: #333;}
[v-cloak] {
    display: none !important;
}
/* index */
.index-container{height: 100%;width: 100%;overflow: hidden;display: flex;flex-direction: column;}
	.indexHeader{height: 150px;background: url(../img/index-icon/index-bgc.png) no-repeat;background-size: 100% 150px;}
	.index-nav{height: 30px;display: flex;padding: 10px 0;}
		.index-back{width: 50px;height: 30px;line-height: 30px;background: url(../img/index-icon/index-back2.png) 17px no-repeat;background-size: 11px 16px;}
		.index-search-box{flex-grow:1;}
			.index-search{width: 100%;font-size: 1.2rem;position: relative;}
				.index-search img{width: 15px;height: 15px;position: absolute;left: 8px;top: 8px;}
				.index-search input{width: 90%;height: 20px;background: #f1f0f0;border-radius: 15px;padding: 5px 5%;text-indent: 20px;}
			.index-searchBtn{width: 36px;height: 30px;align-items: center;display: flex;padding-left: 14px;}
			.index-searchBtn img{display: block;}
	.index-header{height: 65px;display: flex;padding: 5px 10px 2px;margin-top: 28px;}
		.index-header div:first-child{width: 65px;height: 65px;}
			.index-header div:first-child img{width: 65px;height: 65px;}
		.index-header div:last-child{flex-grow:1;height: 65px;line-height: 65px;padding: 0 10px;font-size: 1.5rem;}
	.index-main{display: flex;background-color: #f7f8fa;}
		.index-aside-L{width: 75px;/*background-color: #f3f4f8;*/}
			.index-aside-L ul{}
				.index-aside-L ul li{width: 60px;min-height: 45px;padding: 0 10px;font-size: 1.2rem;display: flex;align-items: center;}
				.index-aside-L ul li div{text-align: center;}
				.index-aside-L ul li div:last-child{flex-grow: 1;line-height: 22.5px;}
				.index-aside-L ul li:hover,.index-aside-L ul li.active{background-color: #fff;}
		.index-aside-R{flex-grow:1;background: url(../img/index-icon/index-bg.png) no-repeat;background-size: 100% 100%;padding-top: 10px;overflow-y: auto;}
			.indexDemo{display: flex;/*background-color: #fff;*/padding: 5px 0 5px 3%;/*box-shadow: 0px 2px 10px 1px gainsboro;*/margin-bottom: 6px;}
				.indexDemoL{width: 80px;height: 80px;flex-shrink: 0;background-color: #fff;position: relative;}
					.indexDemoL > div{display: flex;}
					.indexDemoL .imdexDemoL-bg1{position: absolute; top: -15px;right: -10px;width: 35px;height: 30px;}
					.indexDemoL .imdexDemoL-bg2{position: absolute; top: -8px;left: -7px;width: 30px;height: 25px;}
					.indexDemoL > div > img{width: 58px;height: 58px;padding: 10px;display: block;border: 1px solid #d0d0d0;border-radius: 4px;}
				.indexDemoR{flex:1;padding: 0 2% 0 10px ;flex-direction: column;}
				.indexDemoRBgc{background: url(../img/index-icon/idnex-none.png) center center no-repeat;background-size: 58px 58px;}
				.indexDemoR div:first-child{font-size: 1.2rem;color: #000;font-weight: bold;}
				.indexDemoR div:nth-child(2){height: 28px;font-size: 1.2rem;margin-bottom: 3px;display: flex;align-items: center;}
				.indexDemoR div:nth-child(2) span{display: block;height: 18px;line-height: 18px;}
				.indexDemoR div:nth-child(2) span:first-child{padding: 0 5px;background: url(../img/index-icon/index-proNum.png);background-size: 100% 100%;font-size: 1rem;color: #fff;}
				.indexDemoR div:nth-child(3){height: 20px;line-height: 20px;}
					.indexDemoR div:nth-child(3) span.indexPrice{color: #ff554c;font-size: 1.2rem;}
					.indexDemoR div:nth-child(3) p{width: 70px;height: 20px;line-height: 20px;display: flex;float: right;margin-right: 10px;}
					.indexDemoR div:nth-child(3) p span{width: 19px;height: 20px;}
					.indexDemoR div:nth-child(3) p span:first-child{background: url(../img/index-icon/index-sub.png) no-repeat;background-size: 100% 100%;}
					.indexDemoR div:nth-child(3) p span:nth-child(2){width: 30px;}
						.indexDemoR div:nth-child(3) p span:nth-child(2) input{width: 100%;text-align: center;height: 20px;line-height: 20px;background-color: transparent;}
					.indexDemoR div:nth-child(3) p span:last-child{background: url(../img/index-icon/index-add.png) no-repeat;background-size: 100% 100%;}
	.index-footer{width: 100%;height: 55px;position: relative;}
		.index-footer > img{position: absolute;right: 0;top: -18px;width: 63px;height: 30px;}
		.indexFooterCon{display: flex;}
		.indexFooterCon div:first-child{height: 55px;flex-grow:1;line-height: 55px;color: #fff;background-color: #404040;padding: 0 5%;font-size: 17px;position: relative;}
			.indexFooterCon div:first-child > img{position: absolute;right: -30px;top: -25px;width: 53px;height: 73px;}
			.indexFooterCon div:first-child span{font-size: 20px;}
		.indexFooterCon button{width: 115px;height: 55px;background-color: #fed101;line-height: 55px;text-align: center;color: #333;font-weight: bold;font-size: 15px;}

	
