<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name = "format-detection" content="telephone = no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>订单结算</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style@v1.0.css">
    <style type="text/css">
    	html,body{background-color: #f2f0f0;}
    </style>
</head>
<body>
    <div id="settle" class="settle-container" v-cloak>
        <div class="settle-nav">
            <div class="settle-back" id="settle-back" @click="goBack"></div>
            <div class="settle-font">
                <h1>提交订单</h1>
            </div>
            <div>
                <i class="el-icon-more" style="padding-right: 10px"></i>
            </div>
        </div>
        <div class="settle-header">
                <div><img src="./img/boxlogo.jpg"></div>
                <div v-text="getLocationData.boxAddress"></div>
        </div>
        <div class="settle-main">
            <div class="settle-main-header">
            <div class="settle-main-headerDemo" v-for="(value,index) of getLocationData.foodList">
                <div class="settleDemo">
                    <img :src="imgIp + value.logo">
                </div>
                <div class="settleDemo-txt">
                   <p>
                       <span class="settleName" v-text="value.prodName"></span>
                       <span class="settleMoney">{{value.petailPrice | moneyMark(value.petailPrice)}}</span>
                   </p>
                    <span class="settleAcount">x <span v-text="value.num"></span></span>
                </div>
            </div>
            </div>
            <div class="container" id="container">
                <div>
	                <p class="p1"></p>
	                <div class="settle-main-main">
	                    <div class="payMethod">
	                        <div class="payMethod-p">
	                            <p>支付方式</p>
	                        </div>
	                        <div class="payMethod-online">
	                            <span>微信支付</span>
	                        </div>
	                    </div>
	                    <div class="remarks">
	                        <div class="remarks-p">
	                            <p>备注</p>
	                        </div>
	                        <div class="remarks-input">
	                            <input v-model="remarks"  type="text" placeholder="请注明口味、偏好等要求"/>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
        <div class="settle-footer">
            <div class="settle-left">
                <p>共计：<span>{{getLocationData.moneyNum | moneyMark(getLocationData.moneyNum)}}</span></p>
            </div>
            <div class="settle-right">
            	<button @click="subMit()" :disabled="submitIsClick" :class="{disClick:submitIsClick}" >提交订单</button>
            </div>
        </div>
    </div>
<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/element-ui@2.4.1.js" type="text/javascript" charset="utf-8"></script>
<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<!--3des编码解码 js文件-->
<script src="js/tripledes.js" type="text/javascript" charset="utf-8"></script>
<script src="js/mode-ecb.js" type="text/javascript" charset="utf-8"></script>
<script src="js/encrypt.js" type="text/javascript" charset="utf-8"></script>
<!--公共js-->
<script src="js/public@v1.0.js" type="text/javascript" charset="utf-8"></script>
<!--搜狐抓取远端Ip-->
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    var vm = new Vue({
        el:"#settle",
        data:{
        		remarks:'',			//备注
        		imgIp : respImg,
        		submitIsClick : false,
        		openId : '',
        		new_no : '',
        		old_no : '',
        		wxCode : getParam('code'),
				getLocationData : JSON.parse(sessionStorage.getItem('submitData'))
            },
            methods:{
            	// 生成随机订单号、
            	randomNumber(){
			    	var todayDate=new Date();
				    var year=todayDate.getFullYear();
				    var date=todayDate.getDate();
				    var month=todayDate.getMonth()+1;
				    var hour=todayDate.getHours();
				    var mininutes=todayDate.getMinutes();
				    var seconds=todayDate.getSeconds();
				    var ran=Math.round((Math.random())*10000);
				    return orderNumber = ""+year+""+""+month+""+""+date+""+""+hour+""+""+mininutes+""+""+seconds+""+""+ran;
			    },
            	//提交
                subMit() {
                	this.startLoading();
					var isBill = '',billType = '';
					this.tabIsShow?(isBill = 'Y'):(isBill = 'N');
					this.numIsShow?(billType = 'Q'):(billType = 'G');
					var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
			        var mobileType = (ua.match(/MicroMessenger/i) == 'micromessenger') ? 'W' : 'A';
			        this.new_no = this.randomNumber();
			        var clientIp = returnCitySN['cip'];
                    var H5params = {
		    			"funCode": "placeOrders",
		    			"boxId": this.getLocationData.boxId,
		    			"boxAddr": this.getLocationData.boxAddress,
		    			"agentName" : this.getLocationData.agentName,
//						"agentId" : this.getLocationData.agentId,
		    			"foodIdArray": this.getLocationData.foodList,
		    			"payMethod": 'W',
		    			"remarks":this.remarks,
		    			"amountMoney": this.getLocationData.moneyNum,
		    			"courierId" : this.getLocationData.courierId,
						"courierName" : this.getLocationData.courierName,
						"topPrice" : this.getLocationData.topPrice,
						"tradeType" : mobileType,
						"code" : this.wxCode,
						"open_id" : this.openId,
						"new_no" : this.new_no,
						"old_no" : this.old_no,
						"clientIp" : clientIp
		    		}
//                  console.log(JSON.stringify(H5params));
		    		H5params = JSON.stringify(H5params);
		    		//3des数据加密
		      		var initEnterData = encrypt.encryptByDES(H5params);
		    		var ajaxParm = {
		    			"H5params":initEnterData
					}
		    		axios({
		    			url: respUrl,
						method: 'post',
						data: ajaxParm,
					}).then(resp => {
						//返回数据解密
						var outData = encrypt.decryptByDES(resp.data);
						outData = JSON.parse(outData);
						if(outData.resultCode == '0'){
							this.endLoading();
					        if (ua.match(/MicroMessenger/i) == "micromessenger") {//微信 
					        	this.openId = outData.open_id;
					        	this.old_no = outData.old_no;
					         	this.wxPay(outData);
					        }else{//其他浏览器
					        	this.endLoading();
					        	window.location.href = outData.mweb_url + '&redirect_url=http://www.bdgaoxiao.com/snacksBox/static/snackBox/index.html?boxId=' + this.getLocationData.boxId;
					        }
						}else{
							this.endLoading();
							this.message(outData.resultMessage,'error');
						}
					}).catch(err => {
						this.endLoading();
						this.message(err,'error');
				   	});
                },
                //公众号支付
                wxPay(e){
                	var _that = this;
                	var wxData = {
					        "appId":e.app_id,     //公众号名称，由商户传入     
					        "timeStamp":e.timestamp, //时间戳，自1970年以来的秒数     
					        "nonceStr":e.nonce_str, //随机串     
					        "package":e.prepay_id,   // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）  
					        "signType":"MD5",         //微信签名方式：     
					        "paySign":e.sign //微信签名 
				      	}
                	function onBridgeReady(){
					   	WeixinJSBridge.invoke(
					      	'getBrandWCPayRequest',wxData,
					      	function(res){
					      	if(res.err_msg == "get_brand_wcpay_request:ok" ){
					      		_that.submitIsClick = true;
					            alert("支付成功");
                                window.location.href = "http://www.bdgaoxiao.com/snacksBox/static/snackBox/index.html?boxId=" + _that.getLocationData.boxId;
					      	} 
					   	}); 
					}
					if (typeof WeixinJSBridge == "undefined"){
					   	if( document.addEventListener ){
					       	document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
					   	}else if (document.attachEvent){
					       	document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
					      	document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
					   	}
					}else{
					   	onBridgeReady();
					}
               }
        	}
    	});
</script>
</body>
</html>